<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация в Imbos</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='register.css' ) }}">
</head>
<body>
   <form id="registerForm">
    <h2>Регистрация</h2>
    <input type="text" name="username" placeholder="Имя пользователя" required>
    <input type="password" name="password" placeholder="Пароль" required>
    <button type="submit">Зарегистрироваться</button>
   </form>
   <script src="/static/register.js"></script>
</body>
</html>  